/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.page {
	width: 1000px;
	height: auto;
	margin: auto;


}
.header_part {
	width: 1000px;
	height: 150px;
	background-color: #FFF;
}
body {
background-color: #D3D3D3;
}
#table_head {
	background-color:#999;
	text-align: center; 
	font-size: 25px;
}
#msg {
	background-color:#F3DCD4;
	text-align: center; 
	font-size: 36px;
}
#table_data {
	background-color:#999;
	font-size: 18px;
}
#bar {
	width: 1000px;
	height:50px;
	background: #999;
	color: #fff;
}
#menu {
	padding:0;
	line-height: 36px;
	margin-top: 5px;
	float: left;
}
#menu li {
	list-style: none;
	display:inline;
}
#menu a {
	color: #FFF;
	text-decoration: none;
	font-size:20px;
	margin: 5px;
	padding: 10px;
}

#menu a:hover{
	text-decoration: underline;
	color: #333;
	font-weight: bolder;
}

#form {
	float:right; line-height: 50px; padding-right: 5px;
}

.content {
	width: 1000px;
	height:auto;
	background: #F3DCD4;	
}

#whatsInside {
	width: 1000px;
	background: #F3DCD4;
	float: right;
}

#head {
	background:#000; color:#FFF; float:right; width:980px; height:35px; padding:10px;}
}
#headContent { float: right;
}
#productsBox {
	width: 1000px;
	padding:40px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
	text-align: center;
}
#singleProduct {
	color: black;
	float:left; padding:40px;
	margin-left: 30px;
}
#singleProduct img [border:2px solid #333;]
#eachProduct {
	color: black;
	float:center; padding:80px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 30px;
}
#eachProduct img [border:2px solid #333;]


.footer{
		width: 900px;
		height: 200px;
		background: #999;
		color: #FFF;
		clear: both;
	}


.myButton {
	background-color:#737373;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #28631f;
}
.myButton:hover {
	background-color:black;
}
.myButton:active {
	position:relative;
	top:1px;
